/*General styles*/
label {
    cursor: pointer;
    margin-right: 20px;
    font: 14pt Arial, serif;
    color: #616161;
    position: relative;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    box-sizing: border-box;
    display: inline-block;
    height: 20px;
    width: 20px;
    transform: translateY(15%);
    content: "";
    margin-right: 7px;
}

/*radio button's style*/
.radio-controls input + label::before {
    border: 2px #c5c5c5 solid;
    border-radius: 50%;
}

.radio-controls input + label:hover::before {
    border-color: #616161;
}

.radio-controls input:checked + label::before {
    border-color: #e1235f;
    background: #e1235f;
    box-shadow: 0 0 0 3px  #fff inset;
    transition: box-shadow 0.8s;
}

.radio-controls input:not(:checked) + label::before {
    background: #e1235f;
    box-shadow: 0 0 0 9px  #fff inset;
    transition: box-shadow 0.8s;
}

/*checkbox's style*/
.checkbox-controls input + label::before {
    border-radius: 10%;
    background: #d5d5d5;
    transition: background 0.7s;
}

.checkbox-controls input + label:hover::before {
    background: #afafaf;
}

.checkbox-controls input:checked + label::before {
    background: #8d48ab;
    transition: background 0.7s;
}

.checkbox-controls span::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 11px;
    position: absolute;
    left: 0;
    top: -7px;
}

.checkbox-controls input:checked + label span::before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translate(5px, 1px) rotate(35deg);
    top: 0;
    transition: top 0.4s;
}
