/*General styles*/
input[type="radio"],
input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    margin-right: 20px;
    font-family: Arial, serif;
    color: #616161;
}

/*radio button's style*/
input[type="radio"] + label::before {
    display: inline-block;
    border: 2px #c5c5c5 solid;
    border-radius: 50%;
    transform: translateY(20%);
    margin-right: 7px;
    width: 15px;
    height: 15px;
    content: "";
}

input[type="radio"] + label:hover::before {
    border-color: #616161;
}

input[type="radio"]:checked + label::before {
    border-color: #e1235f;
    background: #e1235f;
    box-shadow: 0 0 0 3px  #fff inset;
    transition: box-shadow 0.8s;
}

input[type="radio"]:not(:checked) + label::before {
    background: #e1235f;
    box-shadow: 0 0 0 11px  #fff inset;
    transition: box-shadow 0.8s;
}

/*checkbox's style*/
input[type="checkbox"] + label::before {
    display: inline-block;
    border-radius: 10%;
    transform: translateY(25%);
    background: #d5d5d5;
    margin-right: 7px;
    width: 19px;
    height: 19px;
    content: "";
}

input[type="checkbox"] + label:hover::before {
    background: #afafaf;
}

input[type="checkbox"]:checked + label::before {
    width: 14px;
    height: 17px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}