@keyframes radio-on-animation {
    0% { background: radial-gradient(ellipse at center, #e1235f 15%, #fff 15%); }
    35% { background: radial-gradient(ellipse at center, #e1235f 25%, #fff 25%); }
    70% { background: radial-gradient(ellipse at center, #e1235f 33%, #fff 33%); }
    100% { background: radial-gradient(ellipse at center, #e1235f 45%, #fff 45%);}
}

@keyframes radio-off-animation {
    0% { background: radial-gradient(ellipse at center, #e1235f 45%, #fff 45%); }
    35% { background: radial-gradient(ellipse at center, #e1235f 33%, #fff 33%); }
    70% { background: radial-gradient(ellipse at center, #e1235f 25%, #fff 25%); }
    100% { background: radial-gradient(ellipse at center, #e1235f 15%, #fff 15%);}
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    margin-right: 20px;
    font-family: Arial, serif;
    color: #616161;
}

input[type="radio"] + label::before {
    display: inline-block;
    border: 2px #c5c5c5 solid;
    border-radius: 50%;
    transform: translateY(20%);
    margin-right: 7px;
    width: 15px;
    height: 15px;
    content: "";
}

input[type="radio"] + label:hover::before {
    border-color: #616161;
}

input[type="radio"]:checked + label::before{
    border-color: #e1235f;
    animation: radio-on-animation 0.05s linear;
    background: radial-gradient(ellipse at center, #e1235f 40%, #fff 45%);
}

input[type="radio"]:not(:checked) + label::before{
    animation: radio-off-animation 0.05s linear;
}

